.custom-input {
  height: 65px;
  margin-top: 17px;
  background: #fff;
  border: none;
}

.custom-input .MuiOutlinedInput-notchedOutline {
  border: none;
}

.custom-input:hover .MuiOutlinedInput-notchedOutline {
  border: none;
}

.custom-input.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: none;
}
